<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressInformationLabel">Create or edit a Address Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!addressInformation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="addressInformation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_landmark">Landmark</label>
            <input type="text" class="form-control" name="landmark" id="field_landmark"
                [(ngModel)]="addressInformation.landmark"  />
        </div>

        <div class="form-group">
            <label for="field_registrationInformation">Registration Information</label>
            <select class="form-control" id="field_registrationInformation" name="registrationInformation" [(ngModel)]="addressInformation.registrationInformation" >
                <option [ngValue]="null"></option>
                <option [ngValue]="registrationInformationOption.id === addressInformation.registrationInformation?.id ? addressInformation.registrationInformation : registrationInformationOption" *ngFor="let registrationInformationOption of registrationinformations; trackBy: trackRegistrationInformationById">{{registrationInformationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_addressType">Address Type</label>
            <select class="form-control" id="field_addressType" name="addressType" [(ngModel)]="addressInformation.addressType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="addressTypeOption.id === addressInformation.addressType?.id ? addressInformation.addressType : addressTypeOption" *ngFor="let addressTypeOption of addresstypes; trackBy: trackAddressTypeById">{{addressTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_addressFor">Address For</label>
            <select class="form-control" id="field_addressFor" name="addressFor" [(ngModel)]="addressInformation.addressFor" >
                <option [ngValue]="null"></option>
                <option [ngValue]="addressForOption.id === addressInformation.addressFor?.id ? addressInformation.addressFor : addressForOption" *ngFor="let addressForOption of addressfors; trackBy: trackAddressForById">{{addressForOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_pincode">Pincode</label>
            <select class="form-control" id="field_pincode" name="pincode" [(ngModel)]="addressInformation.pincode" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pincodeOption.id === addressInformation.pincode?.id ? addressInformation.pincode : pincodeOption" *ngFor="let pincodeOption of pincodes; trackBy: trackPincodeById">{{pincodeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
