<div class="clearfix">
    <div class="col-sm-12">
        <div class="add-btn-str">
            <span class="remove-icon-large"><a (click)="deleteComponent()">Remove <i class="fa fa-minus"
                                                                                     aria-hidden="true"></i></a></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="cus-form-label">Contact Person</label>
            <div class="row clearfix">
                <div class="col-sm-3">
                    <select class="form-control" [(ngModel)]="contactPerson.persons.salutation">
                        <option *ngFor="let salutation of salutationList"
                                [ngValue]="salutation.id===contactPerson.persons.salutation?.id?contactPerson.persons.salutation:salutation">
                            {{salutation.name}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-3 pad-lft-none">
                    <input type="text" class="form-control" placeholder="First Name"
                           [(ngModel)]="contactPerson.persons.fName">
                </div>
                <div class="col-sm-3 pad-lft-none">
                    <input type="text" class="form-control" placeholder="Middle Name"
                           [(ngModel)]="contactPerson.persons.mName">
                </div>
                <div class="col-sm-3 pad-lft-none">
                    <input type="text" class="form-control" placeholder="Last Name"
                           [(ngModel)]="contactPerson.persons.lName">
                </div>

            </div>
        </div>

    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label class="cus-form-label">Designation</label>
            <select class="form-control" [(ngModel)]="contactPerson.designation">
                <option *ngFor="let designation of designationList"
                        [ngValue]="designation.id===contactPerson.designation?.id?contactPerson.designation:designation">
                    {{designation.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group inner-form-group">
            <label class="cus-form-label">Add Contact</label>
            <div class="clearfix">
                <div class="col-sm-5 pad-lft-none">
                    <select class="form-control" [(ngModel)]="contactPerson.contactInfoList[0].contactType">
                        <option *ngFor="let contactType of contactTypeList"
                                [ngValue]="contactType.id===contactPerson.contactInfoList[0].contactType?.id?contactPerson.contactInfoList[0].contactType:contactType">
                            {{contactType.type}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-7 pad-lft-none">
                    <input class="form-control" type="text"
                           [(ngModel)]="contactPerson.contactInfoList[0].contactDetails">
                    <span class="add-icon"><a (click)="addContactInfo()"><i class="fa fa-plus-circle"
                                                                            aria-hidden="true"></i></a></span>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" *ngFor="let contactInfo of contactPerson.contactInfoList | slice:1;let j=index">
        <div class="form-group inner-form-group">
            <label class="cus-form-label">Add Contact</label>
            <div class="clearfix">
                <div class="col-sm-5 pad-lft-none">
                    <select class="form-control" [(ngModel)]="contactInfo.contactType">
                        <option *ngFor="let contactType of contactTypeList"
                                [ngValue]="contactType.id===contactInfo.contactType?.id?contactInfo.contactType:contactType">
                            {{contactType.type}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-7 pad-lft-none">
                    <input class="form-control" [(ngModel)]="contactInfo.contactDetails">
                    <span class="add-icon"><a (click)="deleteContactInfo(j+1)"><i
                        class="fa fa-plus-circle"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
