<div>
    <h2>
        <span>Create new Tickets</span>

    </h2>
    <jhi-alert></jhi-alert>

    <br/>
    <div>
        <form>
            <div class="panel-body custom-form-bx">
                <div class="col-sm-3">
                    <div class="form-group" *ngIf="ticket.registrationInformation">
                        <label class="cus-form-label">Registration Id</label>
                        <input type="text" class="form-control" name="ticket_registrationInformation"
                               id="ticket_registrationInformation"
                               readonly
                               [(ngModel)]="ticket.registrationInformation.id"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-control-label" for="field_title">Ticket Number</label>
                    <input type="text" class="form-control" name="ticketNo" id="ticket-number" readonly
                           [(ngModel)]="ticket.ticketNo"/>
                </div>
                <div class="col-sm-3">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="ticket.title"/>
                </div>
                <div class="col-sm-3">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="ticket.description"/>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="field_note">Note</label>
                        <input type="text" class="form-control" name="note" id="field_note"
                               [(ngModel)]="ticket.note"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" readonly
                               [(ngModel)]="ticket.createdDate"
                        />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="ticket-assgnee">Ticket Assignee Name:</label>
                    <select class="form-control" id="ticket-assgnee" name="ticketStatus"
                            [(ngModel)]="ticket.ticketAssignee==null?'':ticket.ticketAssignee">
                        <option [ngValue]="user" *ngFor="let user of userList">
                            {{user.firstName}} {{user.lastName}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="field_ticketStatus">Ticket Status</label>
                    <select class="form-control" id="field_ticketStatus" name="ticketStatus"
                            [(ngModel)]="ticket.ticketStatus==null?'':ticket.ticketStatus">
                        <option [ngValue]="ticketStatus" *ngFor="let ticketStatus of ticketStatusList">
                            {{ticketStatus.status}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" (click)="updateTicket()">
                        <span class="fa fa-comment"></span>&nbsp;<span>Save</span>
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
