
<div *ngIf="pincode">
    <h2><span>Pincode</span> {{pincode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Pincode</span></dt>
        <dd>
            <span>{{pincode.pincode}}</span>
        </dd>
        <dt><span>Premises Building Village</span></dt>
        <dd>
            <div *ngIf="pincode.premisesBuildingVillage">
                <a [routerLink]="['/premises-building-village', pincode.premisesBuildingVillage?.id]">{{pincode.premisesBuildingVillage?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pincode/'+ pincode.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
