
<div *ngIf="contactPerson">
    <h2><span>Contact Person</span> {{contactPerson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Basic Information</span></dt>
        <dd>
            <div *ngIf="contactPerson.basicInformation">
                <a [routerLink]="['/basic-information', contactPerson.basicInformation?.id]">{{contactPerson.basicInformation?.id}}</a>
            </div>
        </dd>
        <dt><span>Designation</span></dt>
        <dd>
            <div *ngIf="contactPerson.designation">
                <a [routerLink]="['/designation', contactPerson.designation?.id]">{{contactPerson.designation?.id}}</a>
            </div>
        </dd>
        <dt><span>Persons</span></dt>
        <dd>
            <div *ngIf="contactPerson.persons">
                <a [routerLink]="['/person', contactPerson.persons?.id]">{{contactPerson.persons?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-person/'+ contactPerson.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
