
<div *ngIf="configParameter">
    <h2><span>Config Parameter</span> {{configParameter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{configParameter.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{configParameter.description}}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
            <span>{{configParameter.value}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'config-parameter/'+ configParameter.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
